body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

#grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-color: lightgray;
}

#grid div {
  width: 30px;
  height: 30px;
  font-size: x-small;
}

.ball { 
  background-color: orangered;
}

.center {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 74, 74);
  color: white;
  font-style: italic;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 3px;
  padding: 10px;
  margin: 50px auto;
  width: 75%;
}
