body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 74, 74);
  color: white;
  font-style: italic;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 3px;
  padding: 10px;
  margin: 50px auto;
  width: 75%;
}

#resultDiv {
  width: 75%;
  font-size: large;
  font-weight: 700;
  background-color: lightgray;
}

select {
  min-width: 260px;
}

