body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.form {
  width: 30%;
  min-width: 165px;
  border: 1px solid rgb(88, 88, 88);
  background-color: rgb(215, 215, 215);
  padding: 10px;
}

.form-field {
  margin: 15px 0;
}

.counter-value {
  margin: 20px;
  font-size: 84px;
  color: rgb(7, 62, 7);
}

.instructions {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 74, 74);
  color: white;
  font-style: italic;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 3px;
  padding: 10px;
  margin: 50px auto;
  width: 75%;
}

